.container {
  display: flex;
}
#map {
  height: 95vh;
  width: 78vw;
}
#company {
  text-align: center;
}
#zone {
  display: block;
  margin: 0 auto;
}
#messages {
  height: 75vh;
  width: 18vw;
  overflow-y: auto;
}
