html,
body,
#app,
#container {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}
.map-container {
  height: 100vh;
  width: 78vw;
}
.title {
  text-align: center;
}
.selectOption {
  display: block;
  margin: 0 auto;
}
#messages {
  height: 75vh;
  width: 18vw;
  overflow-y: auto;
}
